# Project Build Configuration
build:
  # Where to output to
  output: 'dist'

  # The coverage directory
  coverage: 'coverage'

  # Directories to use
  dirs:
    compiled: 'compiled'
    target: 'target'

  # Build targets
  targets:
    server:
      modes:
        tgz: 'tar.gz'
        zip: 'zip'

# Project licensing
license:
  extensions: [
    '.js',
    '.d.ts'
  ]
